# Projeto de Bases de Dados - Parte 2

### Docente Responsável

Prof. Daniel Faria

### Grupo 48
### Turno BD25L05
<dl>
    <dt>HH horas (33.3%)</dt>
    <dd>ist1106422 Leonor Francisco</dd>
    <dt>HH horas (33.3%)</dt>
    <dd>ist1106642 Pedro Silveira</dd>
    <dt>HH horas (33.3%)</dt>
    <dd>ist1106485 Rodrigo Freire</dd>
<dl>

In [ ]:
%load_ext sql
%config SqlMagic.displaycon = 0
%config SqlMagic.displaylimit = 100
%sql postgresql+psycopg://postgres:postgres@postgres/postgres

## 0. Carregamento da Base de Dados

Crie a base de dados “Saude” no PostgreSQL e execute os comandos para criação das tabelas desta base de dados apresentados de seguida

In [ ]:
%%sql

DROP TABLE IF EXISTS clinica CASCADE;
DROP TABLE IF EXISTS enfermeiro CASCADE;
DROP TABLE IF EXISTS medico CASCADE;
DROP TABLE IF EXISTS trabalha CASCADE;
DROP TABLE IF EXISTS paciente CASCADE;
DROP TABLE IF EXISTS receita CASCADE;
DROP TABLE IF EXISTS consulta CASCADE;
DROP TABLE IF EXISTS observacao CASCADE;

CREATE TABLE clinica(
	nome VARCHAR(80) PRIMARY KEY,
	telefone VARCHAR(15) UNIQUE NOT NULL CHECK (telefone ~ '^[0-9]+$'),
	morada VARCHAR(255) UNIQUE NOT NULL
);

CREATE TABLE enfermeiro(
	nif CHAR(9) PRIMARY KEY CHECK (nif ~ '^[0-9]+$'),
	nome VARCHAR(80) UNIQUE NOT NULL,
	telefone VARCHAR(15) NOT NULL CHECK (telefone ~ '^[0-9]+$'),
	morada VARCHAR(255) NOT NULL,
	nome_clinica VARCHAR(80) NOT NULL REFERENCES clinica (nome)
);

CREATE TABLE medico(
	nif CHAR(9) PRIMARY KEY CHECK (nif ~ '^[0-9]+$'),
	nome VARCHAR(80) UNIQUE NOT NULL,
	telefone VARCHAR(15) NOT NULL CHECK (telefone ~ '^[0-9]+$'),
	morada VARCHAR(255) NOT NULL,
	especialidade VARCHAR(80) NOT NULL
);

CREATE TABLE trabalha(
	nif CHAR(9) NOT NULL REFERENCES medico,
	nome VARCHAR(80) NOT NULL REFERENCES clinica,
	dia_da_semana SMALLINT,
	PRIMARY KEY (nif, dia_da_semana)
);

CREATE TABLE paciente(
	ssn CHAR(11) PRIMARY KEY CHECK (ssn ~ '^[0-9]+$'),
	nif CHAR(9) UNIQUE NOT NULL CHECK (nif ~ '^[0-9]+$'),
	nome VARCHAR(80) NOT NULL,
	telefone VARCHAR(15) NOT NULL CHECK (telefone ~ '^[0-9]+$'),
	morada VARCHAR(255) NOT NULL,
	data_nasc DATE NOT NULL
);

CREATE TABLE consulta(
	id SERIAL PRIMARY KEY,
	ssn CHAR(11) NOT NULL REFERENCES paciente,
	nif CHAR(9) NOT NULL REFERENCES medico,
	nome VARCHAR(80) NOT NULL REFERENCES clinica,
	data DATE NOT NULL,
	hora TIME NOT NULL,
	codigo_sns CHAR(12) UNIQUE CHECK (codigo_sns ~ '^[0-9]+$'),
	UNIQUE(ssn, data, hora),
	UNIQUE(nif, data, hora)
);

CREATE TABLE receita(
	codigo_sns VARCHAR(12) NOT NULL REFERENCES consulta (codigo_sns),
	medicamento VARCHAR(155) NOT NULL,
	quantidade SMALLINT NOT NULL CHECK (quantidade > 0),
	PRIMARY KEY (codigo_sns, medicamento)
);

CREATE TABLE observacao(
	id INTEGER NOT NULL REFERENCES consulta,
	parametro VARCHAR(155) NOT NULL,
	valor FLOAT,
	PRIMARY KEY (id, parametro)
);

## 1. Restrições de Integridade

Apresente o código para implementar as seguintes restrições de integridade, se necessário, com recurso a extensões procedimentais SQL (Stored Procedures e Triggers):

(RI-1) Os horários das consultas são à hora exata ou meia-hora no horário 8-13h e 14-19h

In [ ]:
%%sql
-- (RI-1)
CREATE OR REPLACE FUNCTION verificar_horario_consulta()
RETURNS TRIGGER AS $$
BEGIN
    IF NOT (
        (EXTRACT(HOUR FROM NEW.hora) BETWEEN 8 AND 12 OR EXTRACT(HOUR FROM NEW.hora) BETWEEN 14 AND 18)
        AND (EXTRACT(MINUTE FROM NEW.hora) = 0 OR EXTRACT(MINUTE FROM NEW.hora) = 30)
    ) THEN
        RAISE EXCEPTION 'As consultas devem ser à hora exata ou meia-hora nos períodos 8-13h e 14-19h';
    END IF;
    RETURN NEW;
END;
$$ LANGUAGE plpgsql;

CREATE TRIGGER trigger_horario_consulta
BEFORE INSERT OR UPDATE ON consulta
FOR EACH ROW
EXECUTE FUNCTION verificar_horario_consulta();

(RI-2) Um médico não se pode consultar a si próprio, embora possa ser paciente de outros médicos no sistema

In [ ]:
%%sql
-- (RI-2)
CREATE OR REPLACE FUNCTION verificar_auto_consulta()
RETURNS TRIGGER AS $$
BEGIN
    IF NEW.ssn = (SELECT ssn FROM paciente WHERE nif = NEW.nif) THEN
        RAISE EXCEPTION 'Um médico não pode se consultar a si próprio';
    END IF;
    RETURN NEW;
END;
$$ LANGUAGE plpgsql;

CREATE TRIGGER trigger_auto_consulta
BEFORE INSERT OR UPDATE ON consulta
FOR EACH ROW
EXECUTE FUNCTION verificar_auto_consulta();

(RI-3) Um médico só pode dar consultas na clínica em que trabalha no dia da semana correspondente à data da consulta

In [ ]:
%%sql
-- (RI-3)
CREATE OR REPLACE FUNCTION verificar_disponibilidade_medico()
RETURNS TRIGGER AS $$
BEGIN
    IF NOT EXISTS (
        SELECT 1 FROM trabalha
        WHERE nif = NEW.nif
        AND nome = NEW.nome
        AND dia_da_semana = EXTRACT(DOW FROM NEW.data)
    ) THEN
        RAISE EXCEPTION 'O médico não está disponível na clínica neste dia da semana';
    END IF;
    RETURN NEW;
END;
$$ LANGUAGE plpgsql;

CREATE TRIGGER trigger_disponibilidade_medico
BEFORE INSERT OR UPDATE ON consulta
FOR EACH ROW
EXECUTE FUNCTION verificar_disponibilidade_medico();

## 2. Preenchimento da Base de Dados

Preencha todas as tabelas da base de dados de forma consistente (após execução do ponto anterior) com os seguintes requisitos adicionais de cobertura:
- 5 clínicas, de pelo menos 3 localidades diferentes do distrito de Lisboa
- 5-6 enfermeiros por clínica
- 20 médicos de especialidade ‘clínica geral’ e 40 outros distribuídos como entender por até 5 outras especialidades médicas (incluindo pelo menos, ‘ortopedia’ e ‘cardiologia’). Cada médico deve trabalhar em pelo menos duas clínicas, e em cada clínica a cada dia da semana (incluindo fins de semana), devem estar pelo menos 8 médicos
- Cerca de 5.000 pacientes
- Um número mínimo de consultas em 2023 e 2024 tais que cada paciente tem pelo menos uma consulta, e em cada dia há pelo menos 20 consultas por clínica, e pelo menos 2 consultas por médico
- ~80% das consultas tem receita médica associada, e as receitas têm 1 a 6 medicamentos em quantidades entre 1 e 3
- Todas as consultas têm 1 a 5 observações de sintomas (com parâmetro mas sem valor) e 0 a 3 observações métricas (com parâmetro e valor). Deve haver ~50 parâmetros diferentes para os sintomas (sem valor) e ~20 parâmetros diferentes para as observações métricas (com valor) e os dois conjuntos devem ser disjuntos. 
- Todas as moradas são nacionais e seguem o formato Português, terminando com código postal: XXXX-XXX e de seguida a localidade.
Deve ainda garantir que todas as consultas necessárias para a realização dos pontos seguintes do projeto produzem um resultado não vazio.

O código para preenchimento da base de dados deve ser compilado num ficheiro "populate.sql", anexado ao relatório, que contém com comandos INSERT ou alternativamente comandos COPY que populam as tabelas a partir de ficheiros de texto, também eles anexados ao relatório.

## 3. Desenvolvimento de Aplicação

Crie um protótipo de RESTful web service para gestão de consultas por acesso programático à base de dados ‘Saude’ através de uma API que devolve respostas em JSON, implementando os seguintes endpoints REST:

|Endpoint|Descrição|
|--------|---------|
|/|Lista todas as clínicas (nome e morada).|
|/c/\<clinica>/|Lista todas as especialidades oferecidas na \<clinica>.|
|/c/\<clinica>/\<especialidade>/|Lista todos os médicos (nome) da \<especialidade> que trabalham na <clínica> e os primeiros três horários disponíveis para consulta de cada um deles (data e hora).|
|/a/\<clinica>/registar/|Registra uma marcação de consulta na \<clinica> na base de dados (populando a respectiva tabela). Recebe como argumentos um paciente, um médico, e uma data e hora (posteriores ao momento de agendamento).|
|/a/\<clinica>/cancelar/|Cancela uma marcação de consulta que ainda não se realizou na \<clinica> (o seu horário é posterior ao momento do cancelamento), removendo a entrada da respectiva tabela na base de dados. Recebe como argumentos um paciente, um médico, e uma data e hora.|

### Explicação da arquitetura da aplicação web, incluindo a descrição dos vários ficheiros na pasta web/arquivos e a relação entre eles

...

### Auxiliary functions 

`check_args()`
> Raises exception if the specified clinic, pacient and doctor dont exist

In [ ]:
%%sql
CREATE OR REPLACE FUNCTION check_args(
    clinic_name VARCHAR(80) DEFAULT NULL,
    pacient_ssn CHAR(11) DEFAULT NULL,
    doctor_nif CHAR(9) DEFAULT NULL
)
RETURNS VOID AS
$$
BEGIN
    IF clinic_name IS NOT NULL AND NOT EXISTS(SELECT 1 FROM clinica WHERE nome = clinic_name) THEN
        RAISE EXCEPTION 'The specified clinic does not exist.';
    ELSIF pacient_ssn IS NOT NULL AND NOT EXISTS(SELECT 1 FROM paciente WHERE ssn = pacient_ssn) THEN
        RAISE EXCEPTION 'The specified pacient does not exist.';
    ELSIF doctor_nif IS NOT NULL AND NOT EXISTS(SELECT 1 FROM medico WHERE nif = doctor_nif) THEN
        RAISE EXCEPTION 'The specified doctor does not exist.';
    END IF;
END;
$$ LANGUAGE plpgsql;

`delete_appointment()`
> Checks if it can delete an appointment given the specified arguments. Returns the appropriate exception if something fails. Otherwise deletes it

In [ ]:
%%sql
CREATE OR REPLACE FUNCTION delete_appointment(
    clinic_name VARCHAR(80),
    pacient_ssn CHAR(11),
    doctor_nif CHAR(9),
    c_date DATE,
    c_time TIME
)
RETURNS VOID AS
$$
BEGIN
    PERFORM check_args(clinic_name, pacient_ssn, doctor_nif);

    IF NOT EXISTS(
        SELECT 1 FROM consulta
        WHERE nome = clinic_name
            AND hora = c_time
            AND data = c_date
            AND ssn = pacient_ssn
            AND nif = doctor_nif 
            AND nome = clinic_name
    ) THEN
        RAISE EXCEPTION 'No appointment was found with these arguments.';
    ELSE
        DELETE FROM consulta
        WHERE nome = clinic_name
            AND data = c_date
            AND hora = c_time
            AND ssn = pacient_ssn
            AND nif = doctor_nif;
    END IF;
END;
$$ LANGUAGE plpgsql;

`schedule_appointment()`
> Check if it can schedule an appointment given the specified arguments. Returns the appropriate exception if something fails. Otherwise schedules it

In [ ]:
%%sql
CREATE OR REPLACE FUNCTION schedule_appointment(
    clinic_name VARCHAR(80),
    pacient_ssn CHAR(11),
    doctor_nif CHAR(9),
    c_date DATE,
    c_time TIME,
    day_week SMALLINT
)
RETURNS VOID AS
$$
BEGIN
    PERFORM check_args(clinic_name, pacient_ssn, doctor_nif);

    IF NOT EXISTS(SELECT 1 FROM trabalha WHERE nif = doctor_nif 
        AND dia_da_semana = day_week
        AND nome = clinic_name) THEN
        RAISE EXCEPTION 'This doctor doesnt work in this day at this clinic';
    END IF;

    IF EXISTS(SELECT 1 FROM consulta WHERE data = c_date AND hora = c_time) THEN
        IF EXISTS(SELECT 1 FROM consulta WHERE ssn = pacient_ssn) THEN
            IF EXISTS(SELECT 1 FROM consulta WHERE nome = clinic_name) THEN
                RAISE EXCEPTION 'This pacient already has an appointment in this clinic at this time';
            ELSE
                RAISE EXCEPTION 'This pacient already has an appointment elsewhere at this time';
            END IF;
        ELSIF EXISTS(SELECT 1 FROM consulta WHERE nif = doctor_nif) THEN
            IF EXISTS(SELECT 1 FROM consulta WHERE nome = clinic_name) THEN
                RAISE EXCEPTION 'This doctor is already registered for an appointment at this time in this clinic';
            ELSE
                RAISE EXCEPTION 'This doctor is already registered for an appointment at this time elsewhere';
            END IF;
        END IF;
    END IF;
    INSERT INTO consulta (ssn, nif, nome, data, hora, codigo_sns) VALUES 
        (pacient_ssn, doctor_nif, clinic_name, c_date, c_time, NULL);
END;
$$ LANGUAGE plpgsql;

## 4. Vistas

Crie uma vista materializada que detalhe as informações mais importantes sobre as consultas dos pacientes, combinando a informação de várias tabelas da base de dados. A vista deve ter o seguinte esquema:

### *historial_paciente(id, ssn, nif, nome, data, ano, mes, dia_do_mes, localidade, especialidade, tipo, chave, valor)*

em que:
- *id, ssn, nif, nome* e *data*: correspondem ao atributos homónimos da tabela **consulta**
- *ano, mes, dia_do_mes* e *dia_da_semana*: são derivados do atributo *data* da tabela **consulta**
- *localidade*: é derivado do atributo *morada* da tabela **clinica**
- *especialidade*: corresponde ao atributo homónimo da tabela **medico**
- *tipo*: toma os valores ‘observacao’ ou ‘receita’ consoante o preenchimento dos campos seguintes
- *chave*: corresponde ao atributo *parametro* da tabela **observacao** ou ao atributo *medicamento* da tabela **receita**
- *valor*: corresponde ao atributo *valor* da tabela **observacao** ou ao atributo *quantidade* da tabela **receita**

In [ ]:
%%sql
CREATE MATERIALIZED VIEW historial_paciente AS
SELECT
    c.id AS id,
    c.ssn AS ssn,
    c.nif AS nif,
    c.nome AS nome,
    c.data AS data,
    EXTRACT(YEAR FROM c.data) AS ano,
    EXTRACT(MONTH FROM c.data) AS mes,
    EXTRACT(DAY FROM c.data) AS dia_do_mes,
    cl.morada AS localidade,
    m.especialidade AS especialidade,
    CASE
        WHEN o.id IS NOT NULL THEN 'observacao'
        ELSE 'receita'
    END AS tipo,
    COALESCE(o.parametro, r.medicamento) AS chave,
    COALESCE(o.valor, r.quantidade) AS valor
FROM
    consulta c
JOIN
    paciente p ON c.ssn = p.ssn
JOIN
    medico m ON c.nif = m.nif
JOIN
    clinica cl ON c.nome = cl.nome
LEFT JOIN
    observacao o ON c.id = o.id
LEFT JOIN
    receita r ON c.codigo_sns = r.codigo_sns;

## 5. Análise de Dados (SQL e OLAP)

Usando a vista desenvolvida no ponto anterior, complementada com outras tabelas da base de dados ‘Saude’ quando necessário, apresente a consulta SQL mais sucinta para cada um dos seguintes objetivos analíticos. Pode usar as instruções ROLLUP, CUBE, GROUPING SETS ou as cláusulas UNION of GROUP BY para os objetivos em que lhe parecer adequado.

1. Determinar que paciente(s) tiveram menos progresso no tratamento das suas doenças do foro ortopédico para atribuição de uma consulta gratuita. Considera-se que o indicador de falta de progresso é o intervalo temporal máximo entre duas observações do mesmo sintoma (i.e. registos de tipo ‘observacao’ com a mesma chave e com valor NULL) em consultas de ortopedia.

In [ ]:
%%sql
WITH observacoes_ortopedia AS (
    SELECT 
        hp.ssn,
        hp.chave AS doenca,
        (MAX(hp.data) - MIN(hp.data)) AS intervalo_temporal
    FROM 
        historial_paciente hp
    WHERE 
        hp.tipo = 'observacao' AND hp.especialidade = 'ortopedia' AND hp.valor IS NULL
    GROUP BY 
        hp.ssn, hp.chave
)
SELECT 
    ssn,
    doenca,
    intervalo_temporal
FROM 
    observacoes_ortopedia
WHERE 
    intervalo_temporal = (SELECT MAX(intervalo_temporal) FROM observacoes_ortopedia);

2. Determinar que medicamentos estão a ser usados para tratar doenças crónicas do foro cardiológico. Considera-se que qualificam quaisquer medicamentos receitados ao mesmo paciente (qualquer que ele seja) pelo menos uma vez por mês durante pelo menos doze meses consecutivos, em consultas de cardiologia.

In [ ]:
%%sql
WITH mensalidades AS (
    SELECT
        hp.chave AS medicamento,
        hp.ssn,
        DATE_TRUNC('month', hp.data) AS mes
    FROM
        historial_paciente hp
    WHERE
        hp.tipo = 'receita' AND hp.especialidade = 'Cardiologia'
    GROUP BY
        hp.chave, hp.ssn, DATE_TRUNC('month', hp.data)
),
continuidade AS (
    SELECT
        medicamento,
        ssn,
        COUNT(DISTINCT mes) AS meses_consecutivos
    FROM
        mensalidades
    GROUP BY
        medicamento, ssn
)
SELECT
    medicamento
FROM
    continuidade
WHERE
    meses_consecutivos >= 12
GROUP BY
    medicamento;

3. Explorar as quantidades totais receitadas de cada medicamento em 2023, globalmente, e com drill down nas dimensões espaço (localidade > clinica), tempo (mes > dia_do_mes), e médico  (especialidade > nome \[do médico]), separadamente.

In [ ]:
%%sql
SELECT chave AS medicamento,
    SUM(valor) AS quantidade
FROM 
    historial_paciente
WHERE 
    ano = 2023 AND tipo = 'receita'
GROUP BY 
    chave;

SELECT 
    cl.morada AS localidade,
    chave AS medicamento,
    SUM(valor) AS quantidade
FROM 
    historial_paciente
JOIN 
    clinica cl ON historial_paciente.localidade = cl.morada
WHERE 
    ano = 2023 AND tipo = 'receita'
GROUP BY 
    cl.morada, chave;

SELECT 
    EXTRACT(MONTH FROM data) AS mes,
    EXTRACT(DAY FROM data) AS dia_do_mes, 
    chave AS medicamento,
    SUM(valor) AS quantidade
FROM 
    historial_paciente
WHERE 
    ano = 2023 AND tipo = 'receita'
GROUP BY 
    EXTRACT(MONTH FROM data), EXTRACT(DAY FROM data), chave;

SELECT 
    especialidade AS especialidade,
    nome AS nome_do_medico,
    chave AS medicamento,
    SUM(valor) AS quantidade
FROM 
    historial_paciente
WHERE 
    ano = 2023 AND tipo = 'receita'
GROUP BY 
    especialidade, nome, chave;

4. Determinar se há enviesamento na medição de algum parâmetros entre clínicas, especialidades médicas ou médicos, sendo para isso necessário listar o valor médio e desvio padrão de todos os parâmetros de observações métricas (i.e. com valor não NULL) com drill down na dimensão médico (globalmente > especialidade > nome \[do médico]) e drill down adicional (sobre o anterior) por clínica.

In [ ]:
%%sql
SELECT
    COALESCE(hp.especialidade, 'TOTAL') AS especialidade,
    COALESCE(m.nome, 'TOTAL') AS nome_medico,
    COALESCE(hp.nome, 'TOTAL') AS nome_clinica,
    hp.chave,
    AVG(hp.valor) AS valor_medio,
    STDDEV(hp.valor) AS desvio_padrao
FROM
    historial_paciente hp
JOIN
    medico m ON hp.nif = m.nif
WHERE
    hp.tipo = 'observacao'
GROUP BY
    ROLLUP(hp.especialidade, m.nome, hp.nome, hp.chave)
HAVING
    hp.chave IS NOT NULL
ORDER BY
    especialidade, nome_medico, nome_clinica, hp.chave;

## 6. Índices

Apresente as instruções SQL para criação de índices para melhorar os tempos de cada uma das consultas listadas abaixo sobre a base de dados ‘Saude’. Justifique a sua escolha de tabela(s), atributo(s) e tipo(s) de índice, explicando que operações seriam otimizadas e como. Considere que não existam índices nas tabelas, além daqueles implícitos ao declarar chaves primárias e estrangeiras, e para efeitos deste exercício, suponha que o tamanho das tabelas excede a memória disponível em várias ordens de magnitude.

### 6.1
SELECT nome 
FROM paciente 
JOIN consulta USING (ssn) 
JOIN observacao USING (id) 
WHERE parametro = ‘pressão diastólica’ 
AND valor >= 9;

In [ ]:
%%sql
-- CREATE INDEX ...

### Justificação

...

### 6.2
SELECT especialidade, SUM(quantidade) AS qtd
FROM medico 
JOIN consulta USING (nif)
JOIN receita USING (codigo_ssn) 
WHERE data BETWEEN ‘2023-01-01’ AND ‘2023-12-31’ 
GROUP BY especialidade
SORT BY qtd;

In [ ]:
%%sql
-- CREATE INDEX ...

### Justificação

...